main {
  display: grid;
  grid-template-columns: 25% 75%;
  
  .lado-izquierdo, .lado-derecho{
    border:1px groove red;
    height: 98vh;
  }
  .card-lado-izquierdo {
    height: 100%;
    background-image: url(../public/images/Cloud-background.png);
    background-color: #1E213A;
    background-repeat: no-repeat;
    background-position: center; 
    background-blend-mode: soft-light;
    background-position-y: 120px;
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pointer{
        color: white;
        border:1px solid #afa6a6;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .panel-clima-principal{
      display: flex;
      justify-content: center;
      align-items: center;
      place-content: center;
      flex-direction: column;
      gap: 2rem;
      h1, h3, h4 {
        margin: 0;
        padding: 0;
      }
      .panel-clima-principal{
        margin-top: 7rem;
      }
      .panel-temperatura-principal{
          color: white;
          font-size: 2rem;
          margin-top: 2rem;
      }
      .panel-fecha{
        margin-top: 3rem;
        flex-grow: 1;
      }
    }
  }
}