main {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 98vh;
  .card-lado-izquierdo {
    height: 100%;
    background-image: url(../public/images/Cloud-background.png);
    background-color: #1E213A;
    background-repeat: no-repeat;
    background-position: center; 
    background-blend-mode: soft-light;
    background-position-y: 120px;
    .p-card{
      border-radius:0px;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pointer{
        cursor: pointer;
      }
    }
    .panel-clima-principal{
      display: flex;
      justify-content: center;
      align-items: center;
      place-content: center;
      flex-direction: column;
      gap: 2rem;
      h1, h3, h4 {
        margin: 0;
        padding: 0;
      }
      .panel-clima-principal{
        margin-top: 7rem;
      }
      .panel-temperatura-principal{
          color: white;
          font-size: 2rem;
          margin-top: 2rem;
      }
      .panel-fecha{
        margin-top: 3rem;
        flex-grow: 1;
      }
    }
  }
  .lado-derecho {
    height: 100%;
    background-color: #100e1d;
    color: white;
    padding-inline: 12rem;
   
    .unidad-medida{
      background:#100e1d;
      .p-card-body{
          padding-bottom: 0;
      .p-card-content{
        color: white;
        display: flex;
        gap: 1rem;
        place-content: end;
        div {
          border-radius: 50%;
          background: #585676;
          padding: 5px;
          cursor: pointer;          
        }
        div.active{          
            color:#100e1d;
            background: white;          
        }
      }      
      }
    }
    .panel-clima{
      display: grid;
      grid-template-columns: repeat(auto-fill, 19%);     
      gap:0.5rem;
      justify-content: space-between;
      .p-card{
        background: #1e213a;
        color: white;
        padding-inline: 1rem;
        .p-card-header{
          margin-top: 1rem;
          text-align: center;
        }
        .p-card-body{
          padding: 1rem;          
          display: flex;
          flex-direction: column;
          align-items: center;
          .p-card-content{
            padding: 0;
          }
          .p-card-footer{
            display: flex;
            width: 162px;;
            justify-content: space-between;
            padding-inline: 1rem;
            .minimo{
              color: #7f8093;
            }
          }
        }
      }
    }
    .highlight{
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-weight: 500;
      font-size: 1.25rem;
    }
    .panel-highlight{
      display: grid;
      width: 100%;
      gap: 4rem;
      row-gap: 1rem;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 45%);
      .p-card-content{
        padding-block: 0;
      }
      .p-card{
        background: #1e213a;
        color: white;
        text-align: center;
        .p-card-header{
          margin-top: 1rem;
          text-align: center;
        }
        .contenido{
          .grande{
            font-size: 64px;
          }
          .pequeno{
            font-size: 24px;
          }
        }
        .pie{
          width: 50%;
          margin: 0 auto;
          i{
            padding: 0.5rem;
            border-radius: 50%;
            background: #616475;
            margin-right: 1rem;
            margin-top: 1rem;
          }
          .p-slider-range{
            background: #FFEC65;
          }
          .p-slider-handle{
            display: none;
          }
          .porcentaje{
            justify-content: space-between;
            display: flex;
            font-size: 10px;
          }
          .porcentaje-footer{
            text-align: right;
            font-size: 10px;
          }
        }
      } 
    }
  }
}